<h2>Welcome to MoneyRoller!</h2>

<a href='/auth/facebook'>Login with Facebook</a>
 <div class="center">
      <%= link_to 'Sign In', signin_path %>
      <%= link_to 'Sign Up', '/users/new' %>
    </div>
  </div>

