<img src="https://www.insurancejournal.com/app/uploads/2015/06/bank-557x580.jpg">


<h2>Welcome to MoneyRoller!</h2>


 <div class="center">
      <%= link_to 'Log In', '/sessions/new' %>
      <%= link_to 'Sign in', '/users/new' %>
    </div>
  </div>
 or  <a href='/auth/facebook'>Login with Facebook</a>

