<h1>Hello, here is the list of your rollovers</h1>


  <% @rollovers.each do |rollover| %>
  <% if rollover.rollover_type == "Incoming"%>
  <%= link_to rollover.amount, incoming_path(rollover.id)%>
  <%else %>
    <%= link_to rollover.amount, outgoing_path(rollover.id) %>
  <% end %>
  <%end%>


<p><%= link_to "Create new rollover", new_rollover_path(@rollover)  %></p>
