<h1>Hello, here is the list of your rollovers</h1>


  <% @rollovers.each do |rollover| %>
      <%= link_to rollover.rollover_type, incoming_path(rollover.id) %>
      <%= link_to rollover.rollover_type, outgoing_path(rollover.id) %>
  <% end %>
