<section class="jumbotron text-center" >

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h1>Here is the list of your rollovers</h1>


  
  <p><%= link_to "Incoming", rollovers_incoming_path%><p>
  <p><%= link_to "Outgoing", rollovers_outgoing_path%><p>
    


<button class="btn btn-outline-primary"><%= link_to "New rollover", new_rollover_path(@rollover)  %></button>

</section>