<section class="jumbotron text-center" >

<h1>Create New Rollover</h1>

<%= render partial: 'form', locals:{rollover: @rollover, button_label: "Create rollover"} %>

<button class="btn btn-outline-primary"><%= link_to "Back", rollovers_path(@rollover)%></button></p>

</section>
