<section class="jumbotron text-center" >

<h1>Your outgoing rollovers</h1>

<% @rollovers.each do |rollover| %>
  <ul>
  <li><p><%= link_to rollover.amount, rollover_path(rollover.id)%><p></li>
  </ul>
  <%end%>

<button class="btn btn-outline-primary"><%= link_to "Back", rollovers_path(@rollover)%></button></p>

</section> 
