
<h1>Your incoming rollovers</h1>

<% if params[:rollover_type] == "incoming" %>

<p>Amount: <%= @rollover.amount %></p>
<p>Origin bank: <%= @rollover.origin_bank %></p>
<p>Institution: <%= @rollover.institution_id %></p>
 
 <% end %>

 

