<section class="jumbotron text-center" >

<h1>Edit Institution</h1>

<%= render partial: 'form', locals:{institution: @institution, button_label: "Edit"} %>

<p><button class="btn btn-outline-primary"><%= link_to "Back", institutions_path(@institution)%></button></p>
</section>