<section class="jumbotron text-center" >
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h1>Here it's the list of your Institutions</h1>

<ul>
  <% @institutions.each do |institution| %>
    <li><%= link_to institution.name, institution_path(institution) %></li>
  <% end %>
</ul>

<p><%= link_to "Back to Rollovers", rollovers_path(@rollover)%></p>
</section>