<section class="jumbotron text-center" >
<h1>Create new institution</h1>

<%= render partial: 'form', locals:{institution: @institution, button_label: "Create"} %>

<p><%= link_to "Back", institutions_path(@institution)%></p>

</section>